.estilos_practica{
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid rgba(77, 79, 76, 0.533);
}

.estilos_practica th{
    background-color: #e9eced;
    color: rgb(22, 21, 21);
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #0c5671;
}

.estilos_practica td{
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #6f0202;
    border-right: 1px solid #6f0202;
    border-left: 1px solid #6f0202;
}

.caja_texto{
    background-color: lightblue;
    padding: 10px;
    border: 1px solid #6f0202;
}

.texto_margin{
 margin: 25px 50px;
 border: 2px solid #29078f;    
}

.color_texto{
    color: #9c2462;
    text-align: center;
}

.align_borders{
    text-align: center;
    border-top:2px dotted #0804f5;
    border-bottom:2px dotted #0804f5;
    border-right:1px dotted #52b2d7;
    border-left:1px dotted #52b2d7;
}
.elemento1{
    color: rgb(14, 15, 14);
    background-color: #163896;
    font-size: 16px;
    transition: all 0.2s;
}
.elemento1:hover{
    color:rgb(108, 111, 111);
    background-color: #79a7cc;
    font-size: 20px;
}
.element2{
    color: rgb(172, 190, 206);
    background-color: #236b2c;
    font-size: 15px;
    transition: all 0.2s;
}
.element2:hover{
    color: #141414;
    background-color: #a679e5;
    font-size: 18px;
}
.elementclick1{
  color: #0a0a0a;
  background-color: #64de72;
  font-size: 14px;
}
.elementclick1:active{
    color: #a00303;
    background-color: #0a023e;
    font-size: 18px;
}
.elementclick2{
    color: #52b2d7;
    background-color: #9c2462;
    font-size: 17px;
}
.elementclick2:active{
    color: #29078f;
    background-color: #79a7cc;
    font-size: 19px;
}
.fijo{
    position:fixed;
    bottom: 20px;
    right: 20px;
   
    
}